* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

/*grid system in body*/
body {
  min-height: 100vh;
  margin: 0;
}
header {
  height: 5rem;
  grid-area: header;
  color: rgb(63, 124, 237);
}
main {
  grid-area: main;
  background-color: blue;

  text-align: center;
}
footer {
  grid-area: footer;
  background-color: yellow;
}
/* nav {
  grid-area: sidebar;
  background-color: aqua;
} */
@media (min-width: 900px) {
  body {
    display: grid;

    grid-template-columns: 20rem 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header header"
      "main main"
      "footer footer";
  }
}
